In [6]:
import numpy as np
import pandas as pd

## 1. Read the dataset

In [28]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
tables=pd.read_html(url)
df=tables[0]
df=df[df.Borough!='Not assigned']
df.reset_index(inplace=True,drop=True)
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

## 2. Clean dataset

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [29]:
df.Neighbourhood[df.Neighbourhood=='Not assigned']=df.Borough[df.Neighbourhood=='Not assigned']

combine the rows with duplicate Postcode.

In [18]:
df2=df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join)
df2=pd.DataFrame(df2)
df2.reset_index(inplace=True)
df2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [10]:
print(df2.shape)

(103, 3)

## 3. Read geo data

In [12]:
geo=pd.read_csv(r'C:\Users\liuq4\Documents\python_learning\coursera\capstone\Geospatial_Coordinates.csv')

In [15]:
geo.head()
#geo.shape

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [26]:
df_geo=df2.merge(geo, left_on='Postcode', right_on='Postal Code')

df_geo.drop(columns='Postal Code', inplace=True)

In [27]:
df_geo.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476