In [1]:
import numpy as np
import pandas as pd

## 1. Read the dataset

In [62]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
tables=pd.read_html(url)
df=tables[0]
df=df[df.Borough!='Not assigned']
df.reset_index(inplace=True,drop=True)
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

## 2. Clean dataset

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [71]:
df.Neighbourhood[df.Neighbourhood=='Not assigned']=df.Borough[df.Neighbourhood=='Not assigned']

combine the rows with duplicate Postcode.

In [74]:
df2=df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join)
df2=pd.DataFrame(df2)
df2.reset_index(inplace=True)
df2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [75]:
print(df2.shape)

(103, 3)